:root{
   --main-color:#1b4a4d
}

.box{
   width: 200px;
   transition: .3s;
}
.box:hover{
   background-color: var(--main-color);
}
.box img ,.box .text{
   transition: .3s;
}
.box:hover img{
   filter: invert(1);
}
.box:hover .text{
   color: white;
}

.product{
   width: 250px;
   background-color: #f2f2f2;
}

.product img{
   width: 100%;
}

.product h5{
   color: var(--main-color);
}