:root {
  --main-color: #1b4a4d;
  --alt-color:#6c757d;
}

a {
  color: black !important;
  text-decoration: none !important;
}

.icons span {
  cursor: pointer;
}

svg ,h3{
  color: var(--main-color);
}
